#OutputBox {
	overflow: auto;
	border-style: solid;
	border-width: 5px;
	height: 50%;
	width: 80%;
	margin: auto;
}

#OutputBox {
	overflow: auto;
	border-style: solid;
	border-width: 5px;
	height: 50%;
	width: 80%;
	margin: auto;
}